<!DOCTYPE html>
<html>
    <head>
        <title>Job Listing </title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>

      <%= render "common/navbar" %>

        <div class="container-fluid sidebarbg">

            <%= render "common/flashes" %>
            <div class="row">
              <div class="col-md-2">

                <br><br>
                <br><br>

                    <div class="list-group">
                      <a href="/admin/jobs" class="list-group-item list-group-item-action active">admin dashboard</a>
                      <a href="/jobs" class="list-group-item list-group-item-action">user dashboard</a>
                    </div>

              </div>

              <div class="col-md-10">
                <%= yield %>
              </div>
           </div>
        </div>

        <%= render "common/footer" %>

    </body>
</html>
