<!DOCTYPE html>
<html>
    <head>
        <title>Job Listing </title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>

        <div class="container-fluid">
            <%= render "common/navbar" %>
            <%= render "common/flashes" %>

            <div class="row">
              <div class="col-md-2" align="center">

                <br><br>
                <br><br>
                <div class="btn-group-vertical">

                  <div class="btn-group" role="group" aria-label="Basic example">

                    <button type="button" class="btn btn-secondary">admin dashboard</button>
                    <button type="button" class="btn btn-secondary"><%= link_to("user dashboard", jobs_path ) %></button>

                  </div>

                </div>

              </div>

              <div class="col-md-10">
                <%= yield %>
              </div>
           </div>
        </div>

        <%= render "common/footer" %>

    </body>
</html>
